* {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

h4{
    margin: 10px;
}

body {
    background-image: url(../resources/img/sushiplatte.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 100%;
    height: 100%;
}
li {
    display: contents;
    list-style: none;
}

li a {
    display: block;
    padding: 10px;
    margin-left: 5em;
    color: white;
    text-decoration: none;
}

li a:hover {
    border-bottom: 1px solid white;
    border-width: 2px;
    text-decoration: none;
    color: white;
}

.top-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 1em;

    float: right;
    padding-right: 10em;
}

.top-navbar ul  {
    flex-direction: row;
    display: flex;
    list-style-type: none;
}

#logo {
  color: white;
  background: black;
  width: 100px;
  height: 100px;
  text-align: right;
  margin-left: 20px;
  margin-top: 20px;
}
  
.active-menu {
    border-bottom: 1px solid white;
    border-width: 2px;
}
button.accordion{
    width: 100%;
    background-color: rgba(61, 60, 60, 0.83);
    text-align: left;
    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s linear;
    border-right: none;
    border-left: none;
    border-top: none;
    outline:none;
}

.accordion-content{
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
    background: rgba(0, 0, 0, 0.592);

    overflow: hidden;
}

#Meister{
    height: 450px;


}

.container{
    margin-top: 60px;
}

#header{
    background: black;
    padding: 10px;
}

.left-area{
    display: inline-block;
    width: 25%;
    background-color: rgba(0, 0, 0, 0.83);
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.itemlist{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    padding-inline-start: 0px;
}

.items{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    background: grey;
    margin-top: -5px
}

.items:hover{
    background:rgba(185, 180, 180, 0.952);
}

.right-area{
    float: right;
    width: 75%;
    background-color: rgba(0, 0, 0, 0.83);
    height: 100%;
    overflow: auto;
}

.status{
    background: white; 
    color: black; 
    border-style: solid;
    border-top: none;
    border-bottom: none;
    border-right: none;
    padding: 10px 35px 10px 35px;
}

.last{
    border-style: solid;
    border-top: none;
    border-bottom: none;
}


input[type="radio"]:checked + label {
    background: rgb(118, 9, 9);
  }



input[type="radio"]:checked + .status{
    background: rgb(60, 255, 76);
}
.status:hover{
    background: rgb(42, 184, 54)
}

.checkbox-items{
    display: flex;
    justify-content: flex-start;
}

input[type=radio]{
    display: none;
}

#product{
    margin-left: 10px;
}