* {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

body {
    background-image: url(../resources/img/sushiplatte.jpg);
    background-size: 100%;

}

ul {
list-style-type: disc;
font-weight: bold;
color: white;

  }
  
  li {
      float: left;
  }

  li a {
      display: block;
      padding: 10px;
      margin-left: 5em;
      color: white;
      text-decoration: none;
  }

  li a:hover {
      border-bottom: 1px solid white;
      border-width: 2px;
  }

  .top-navbar{
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      margin-top: 1em;

      float: right;
      padding-right: 10em;
  }

  .menu{
      float: left;
      margin-left: 5em;
  }

#logo {
  color: white;
  background: black;
  width: 100px;
  height: 100px;
  text-align: right;
  margin-left: 20px;
  margin-top: 20px;
}
  
 